.background-section{
    padding-bottom: 403px;
    background-image: url(../images/backgroung-img.png);
    background-repeat: no-repeat;
    background-size: 100% 340px;
    background-position: 100%;
  }