/* lifestyle section start */
.lifestyle-section {
    padding: 100px 0 150px;
}
.lifestyle__wrapper-title {
    font-family: Karla;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: center;
    color: #1d1f2e;
}
.lifestyle__wrapper-list {
    margin-top: 102px;
    display: flex;
    align-items: top;
    justify-content: space-between;
}
.lifestyle__wrapper-text {
    margin-top: 28px;
    font-family: Karla;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: #1d1f2e;
}
.lifestyle__wrapper-subtitle {
    margin-top: 14px;
    font-family: Karla;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #1d1f2e;
}
.lifestyle__wrapper-data {
    margin-top: 16px;
    font-family: Karla;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 2px;
    color: #1d1f2e;
}
/* lifestyle section end */
